<div class="navbar navbar-expand navbar-dark bg-dark">
  <a href="https://angular.io" class="navbar-brand">
    <img width="40" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/768px-Angular_full_color_logo.svg.png?20160527092314" alt="Angular Logo">
    Angular
  </a>

  

  <div class="navbar-nav me-auto">
    <li class="nav-item" *ngIf="isAdmin()">
      <a routerLink="/admin" routerLinkActive="active" class="nav-link">Admin</a>
    </li>

    <li class="nav-item">
      <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
    </li>
  </div>

  <div class="navbar-nav ms-auto" *ngIf="!currentUser?.id">
    <li class="nav-item">
      <a routerLink="/register" routerLinkActive="active" class="nav-link">Sign Up</a>
    </li>
    <li class="nav-item">
      <a routerLink="/login" routerLinkActive="active" class="nav-link">Sign In</a>
    </li>
  </div>

  <div class="navbar-nav ms-auto" *ngIf="currentUser?.id">
    <li class="nav-item">
      <a routerLink="/profile" routerLinkActive="active" class="nav-link">{{ currentUser?.username}}</a>
    </li>
    <li class="nav-item">
      <a (click)="logOut()"class="nav-link" style="cursor: pointer;">Sign Out</a>
    </li>
  </div>
</div>



<router-outlet></router-outlet>